---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Vachan Bhogi | AI Research Engineer">
	<Navbar />
	<main>
		<Hero />
		<About />
		<Projects />
		<Skills />
		<Experience />
		<Contact />
	</main>
</Layout>

<style is:global>
	html {
		scroll-padding-top: 100px;
	}
</style>
